<div class="page-shop-jw-section__wrapper">
  <h2 class="page-shop-jw__ttl"><span>直営店</span></h2>
  <div class="page-shop-jw__list-wrapper">
    <ul class="page-shop-jw__list">
      <li class="page-shop-jw__list-item">
        <div class="page-shop-jw__image-wrap">
          <img class="page-shop-jw__image" src="https://cdn.shopify.com/s/files/1/0568/9009/7861/files/shop-gran-honten.jpg?v=1624422576" alt="ラ・メゾン白金 グラン本店">
        </div>
        <h3 class="page-shop-jw__shop-name">ラ・メゾン白金 グラン本店</h3>
        <p class="page-shop-jw__shop-meta">〒108-0072 東京都港区白金 1-27-6 白金高輪ステーションビル1階<br><br>Tel : 03-6277-1115<br>10:00~19:00（時間変更有り）<br>不定休</p>
      </li>
      <li class="page-shop-jw__list-item">
        <div class="page-shop-jw__image-wrap">
          <img class="page-shop-jw__image" src="https://cdn.shopify.com/s/files/1/0568/9009/7861/files/shop-gran-denen.jpg?v=1624422576" alt="ラ・メゾン白金グラン 田園調布店">
        </div>
        <h3 class="page-shop-jw__shop-name">ラ・メゾン白金グラン 田園調布店</h3>
        <p class="page-shop-jw__shop-meta">〒145-0071 東京都大田区田園調布2-62-4 東急スクエアガーデンサイト1階<br><br>Tel : 03-3721-3337<br>10:00~19:00(時間変更有り)<br>不定休</p>
      </li>
      <li class="page-shop-jw__list-item">
        <div class="page-shop-jw__image-wrap">
          <img class="page-shop-jw__image" src="https://cdn.shopify.com/s/files/1/0568/9009/7861/files/shop-isetanshinjuku.jpg?v=1624422576" alt="伊勢丹新宿店">
        </div>
        <h3 class="page-shop-jw__shop-name">伊勢丹新宿店</h3>
        <p class="page-shop-jw__shop-meta">〒160-0022 東京都新宿区新宿3-14-1 B1F<br><br>Tel : 03-3341-2380<br>10:00〜20:00<br>営業時間・定休日は百貨店に準ずる</p>
      </li>
      <li class="page-shop-jw__list-item">
        <div class="page-shop-jw__image-wrap">
          <img class="page-shop-jw__image" src="https://cdn.shopify.com/s/files/1/0568/9009/7861/files/shop-hikarie.jpg?v=1624422576" alt="渋谷ヒカリエ ShinQs 東横のれん街店">
        </div>
        <h3 class="page-shop-jw__shop-name">渋谷ヒカリエ ShinQs 東横のれん街店</h3>
        <p class="page-shop-jw__shop-meta">〒150-8019 東京都渋谷区渋谷2-21-1 渋谷ヒカリエ ShinQs 東横のれん街 B2F<br><br>Tel : 03-6434-1850<br>10:00〜21:00<br>営業時間・定休日は渋谷ヒカリエに準ずる</p>
      </li>
    </ul>
  </div>
</div>


{% schema %}
  {
    "name": "直営店",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
