<div class="page-shop-jw-other-section__bg">
  <div class="page-shop-jw-other-section__wrapper">
    <h2 class="page-shop-jw-other__ttl"><span>その他の取り扱い店舗</span></h2>
    <div class="page-shop-jw-other__list-item">
      <div class="page-shop-jw-other__image-wrap">
        <img class="page-shop-jw-other__image" src="https://cdn.shopify.com/s/files/1/0568/9009/7861/files/shop-haneda.jpg?v=1624422576" alt="羽田空港">
      </div>
      <div class="page-shop-jw-other__info">
        <h3 class="page-shop-jw-other__shop-name">羽田空港</h3>
        <p class="page-shop-jw-other__shop-meta">羽田空港国内線ターミナルの管理運営を行う日本空港ビルデング株式会社とのコラボレーションによる、羽田空港オリジナルアイテムを展開しております。<br>焼きチョコを432層のパイ生地でサンドした人気の「ベイクドショコラ」や老舗珈琲ブランドとコラボレーションした「カフェショコラウィッチ」などこだわりの逸品です。</p>
        <p class="page-shop-jw-other__shop-meta">取扱店</p>
        <ul class="page-shop-jw-other__shop-meta">
          <li>羽田空港第1旅客ターミナル2階<br>東京食賓館（Eゲート前）、ピア1、ピア4等</li>
          <li>羽田空港第2旅客ターミナル2階<br>東京食賓館（時計台1番前）、東京食賓館（時計台3番前）、SMILE TOKYO等</li>
        </ul>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "その他",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
