<!-- /templates/page.shop_jw.liquid -->

{% section 'page-images-jw' %}

<div class="page-shop-jw-wrapper page__template wrapper pt2 pb4">
  <div class="grid">
    <div class="grid__item">
      <h1 class="text-center h3 page__title" data-page-default-title>{{ page.title }}</h1>
      {% section 'page-shop-jw' %}
      {% section 'page-shop-jw-haneda' %}
      {% comment %} <div class="rte">
        {{ page.content }}
      </div> {% endcomment %}
    </div>
  </div>
</div>
