<!-- /templates/page.lookbook-jw.liquid -->

{% section 'page-images-jw' %}

{% comment %} {% if page.content != '' %}
{% endif %} {% endcomment %}
  <div class="page__template page__template--gallery page-lookbook-jw">
    <div class="frame">
      <div class="has-padding">
        <div class="wrapper">
          <div class="gallery">
          {% section 'page-lookbook-about.liquid' %}
          </div>
          <div class="gallery">
          {% section 'page-lookbook-about-1.liquid' %}
          {% section 'page-lookbook-about-2.liquid' %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% section 'page-lookbook-1-image.liquid' %}
{% section 'page-lookbook-1-text.liquid' %}

{% section 'page-lookbook-2-image.liquid' %}
{% section 'page-lookbook-2-text.liquid' %}

{% section 'page-lookbook-3-image.liquid' %}
{% section 'page-lookbook-3-text.liquid' %}

{% section 'page-lookbook-4-image.liquid' %}
{% section 'page-lookbook-4-text.liquid' %}

{% section 'page-lookbook-5-image.liquid' %}
{% section 'page-lookbook-5-text.liquid' %}
